In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import glob
not_fin = set([i for i in range(1,2644)]).difference([int(g.split('.')[-2])+1 for g in glob.glob('/home/groups/dpwall/briannac/alt_haplotypes/intermediate_files/unmapped/filt/kmers_unmapped.*.txt')])
len(not_fin)

503

In [9]:
','.join([str(f) for f in not_fin])

'1215,1287,1293,1475,1578,2029,2031,2032,2033,2085,2086,2087,2088,2089,2092,2093,2098,2099,2100,2102,2103,2104,2105,2106,2115,2116,2117,2119,2120,2121,2122,2123,2124,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2145,2146,2147,2148,2149,2151,2152,2153,2154,2155,2156,2161,2162,2163,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643'

In [111]:
df = pd.read_table('/home/groups/dpwall/briannac/alt_haplotypes/intermediate_files/unmapped/query_counts.unmapped_reads.0000.tsv.gz',
                  usecols=[i for i in range(4569) if i!=3741], nrows=1000) # Weird thing with column 3741 for some reason.
if df['09C82938'].values[0]=='09C82938':
    bad_col = df['09C82938'].iloc[1:]
    new_df = df.iloc[:-1].copy()
    new_df['09C82938'] = bad_col.values
    df = new_df.astype(int)

/home/users/briannac/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3652) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [116]:
np.mean(df.sum(axis=1)>0)

1.0

In [109]:
# Somehow 09C82938 has two headings from old bug. Hacky code to delete one of the '09C82938' headings and shift everything upwards.
if df['09C82938'].values[0]=='09C82938':
    bad_col = df['09C82938'].iloc[1:]
    new_df = df.iloc[:-1].copy()
    new_df['09C82938'] = bad_col.values
    df = new_df.astype(int)

In [110]:
df

,02C10540,02C10541,02C10542,02C10543,02C10702,02C10704,02C10855,02C10856,02C10857,02C10858,...,MH0138051,MH0138052,MH0138054,MH0138055,MH0138989,MH0143008,MH0143009,MH0143013,MH0143018,MH0143019
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
df

,02C10540,02C10541,02C10542,02C10543,02C10702,02C10704,02C10855,02C10856,02C10857,02C10858,...,MH0138051,MH0138052,MH0138054,MH0138055,MH0138989,MH0143008,MH0143009,MH0143013,MH0143018,MH0143019
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,2,0,0,2,4,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
bad_col = df['09C82938'].iloc[1:]
new_df = df.iloc[:-1].copy()
new_df['09C82938'] = bad_col.values
df = new_df.astype(int)

In [58]:
df

,09C82937,09C82938,09C82980,09C82981,09C82982,09C82983,09C82984,09C82993,09C82994
0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
99995,0,0,0,0,0,0,0,0,0
99996,0,0,0,0,0,0,0,0,0
99997,0,0,0,0,0,0,0,0,0
99998,0,0,0,0,0,0,0,0,0
99999,0,0,0,0,0,0,0,0,0

In [37]:
df[df.columns[3652]]

0        NaN
1          0
2          0
3          0
4          0
        ...
99995      0
99996      0
99997      0
99998      0
99999      0
Name: 09C82938, Length: 100000, dtype: object

In [42]:
df.iloc[np.argsort(df.sum(axis=1))[::-1].values][::10]

,02C11611,03C16111,03C16611,03C17011,03C17211,03C19911,03C23211,04C26311,04C27811,04C29411,...,04C37711,05C44411,05C45011,05C50311,06C59211,07C68911,09C97611,10C111411,10C111711,10C114411
0,14268,8660,23588,57220,79284,18582,18530,65976,17882,39455,...,106481,24974,25340,21025,70518,11151,33665,32336,79993,56873
268,2,5,0,3,2,0,4,3,2,4,...,4,4,4,5,0,2,5,2,0,7
645,4,0,0,0,4,0,0,5,0,0,...,0,5,0,0,0,0,0,2,0,0
516,0,0,0,0,10,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,0,0,0
447,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3,0,0,0,2,0,0
318,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
237,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
931,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
703,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
595,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0